
<%= form_for([@stage,@event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
     <%= f.label :artist_name %>
    <%= f.text_field :artist_name , :class => "title"  %>
  </div>
  <div>
    <%= f.label :day, :content =>"Day" %>
    <%= select ("event", "day", @stage.festival.days.map {|d| [format_date_to_day_with_day_number(d),d]}) %>
  </div>
  <div class="field">
    <%= f.label :starttime %>
     <%= f.text_field :starttime, :class => "timePicker" %>
  </div>
  <div class="field">
    <%= f.label :endtime %>
    <%= f.text_field :endtime, :class => "timePicker" %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
	<%= f.hidden_field  :stage_id %>
    <%= f.submit %>
  </div>
<% end %>


<link rel="stylesheet" media="all" type="text/css" href="/stylesheets/jquery-ui-1.8.custom.css" />
<script type="text/javascript" src="/javascripts/jquery-ui-1.8.custom.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui-timepicker-addon.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
      var maximumDate =  new Date($('#event_day option:selected').val());
       maximumDate.setDate(maximumDate.getDate()+1);
      $(".timePicker").datetimepicker({
        stepMinute: 5,
        dateFormat: 'yy-mm-dd',
        minDate: $('#event_day option:selected').val(),
        maxDate: maximumDate
      });

    /*  $(".timePicker").change(function(){
          var pickedTime = $(this).val();
          var dateSection = new Date($('#event_day option:selected').val().replace("-", "/"));
          $(this).val($('#event_day option:selected').val() + " " + pickedTime);
      }) */

  })

</script>