
<%= form_for([@stage,@event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Artist name" %>
    <input type="text" name="artist_name" id="artist_name" />
  </div>
  <div>
	<label for="day">Day</label>
	<select>
		<option value="1">Friday</option>
		<option value="2">Saturday</option>
		<option value="3">Sunday</option>
	<select>
  </div>
  <div class="field">
    <%= f.label :starttime %>
    <%= f.date_select :starttime %>
  </div>
  <div class="field">
    <%= f.label :endtime %>
    <%= f.date_select :endtime %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
	<%= f.hidden_field  :stage_id %>
    <%= f.submit %>
  </div>
<% end %>
