<div class="container paddingbottom">
<p id="notice"><%= notice %></p>

<h1>
  <%= @band.name %>
</h1>

<p>
  <b>Description:</b>
  <%= @band.description %>
</p>

<p>
  <b>Weblink:</b>
  <%= @band.weblink %>
</p>

<p>
  <b>Picture:</b>
  <%= @band.picture %>
</p>


<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
</div>