<p id="notice"><%= notice %></p>


<h1>
  <%= @stage.name %>
</h1>

<p>
  <b>Description:</b>
  <%= @stage.description %>
</p>

<p>
  <b>Picture:</b>
  <%= @stage.picture %>
</p>

<p>
  <b>Longitude:</b>
  <%= @stage.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @stage.latitude %>
</p>


<%= link_to 'Edit', edit_festival_stage_path(@stage.festival,@stage) %><br/>

<%= link_to "Add event +", new_stage_event_path(@stage) %>

<br/>
<%= link_to 'Back', festival_path(@stage.festival) %>
