<div class="standardpadding">
<h1><%= @stage.name %></h1>
<p><%= simple_format @stage.description %></p>


<%= link_to 'Edit', edit_festival_stage_path(@stage.festival,@stage) %><br/>
<div class="listings">
<% if !@stage.line_ups.nil? %>
    <% @stage.line_ups.each do |lu| %>
      <div class="lineUp">
      <h2><%= format_date_day_of_week(lu.date) %> <span class="light"><%= format_date_short(lu.date) %></span></h2>

      <% if !lu.events.nil? %>
         <ul>
           <% lu.events.each do |e| %>
            <li>
              <%= link_to "Edit", edit_event_path( e), :class =>"editLink" %>
              <h3><%= e.band.name %></h3>
              <time datetime="<%= format_iso_datetime e.starttime %>"><%=  format_time(e.starttime)%></time> - <time datetime="<%= format_iso_datetime e.endtime %>"><%=  format_time(e.endtime)%></time>
              <p><%= e.description %></p>

            </li>
           <% end %>
         </ul>
      <% end %>
      </div>
    <% end %>
<% end %>
</div>
<div style="clear:both;"></div>
<%= link_to "Add event +", new_stage_event_path(@stage) %>

<br/>
<%= link_to 'Back', festival_path(@stage.festival) %>
</div>


