<h1>Listing festivals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th>Description</th>
    <th>Logo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @festivals.each do |festival| %>
  <tr>
    <td><%= festival.name %></td>
    <td><%= festival.startdate %></td>
    <td><%= festival.enddate %></td>
    <td><%= festival.description %></td>
    <td><%= festival.logo %></td>
    <td><%= link_to 'Show', festival %></td>
    <td><%= link_to 'Edit', edit_festival_path(festival) %></td>
    <td><%= link_to 'Destroy', festival, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Festival', new_festival_path %>
