<p id="notice"><%= notice %></p>

<%= render @festival %>

<%= link_to 'Edit', edit_festival_path(@festival) %> 

<h2>Stages</h2>
<div>
	<% if !@festival.stages.nil?%>
	 <ol>
		<%= render  @festival.stages %>
	<ol>
	<% end if %>
	<%= link_to "add stage +",  new_festival_stage_path (@festival)  %>
	
</div>
