<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
</head>
<body>
	<div class="container">
		<header>
			<h1><%= link_to "Festival Compass", root_path %></h1>
			<% if signed_in? %>
			 <%= link_to "Sign out", signout_path, :method => :delete %>
			<% else %>
			<%= link_to "Sign in", signin_path %>
			<% end %>
		</header>
			<div class="bodypadding">
			<%= yield %>
			</div>
		<footer>
	
		</footer>
	</div>
</body>
</html>
